<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Pgmasst.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Pgmasst.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="XdwContext" connectionString="data source=pg.sqlite;Foreign Keys=False" providerName="System.Data.SQLite" />
  </connectionStrings>  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
<system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.102.0" newVersion="1.0.102.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Pgmasst.Properties.Settings>
      <setting name="HqIconsDirectory" serializeAs="String">
        <value>D:\VS15Projects\github\PokemonGoMap\PokemonGoMap\bin\hq icons</value>
      </setting>
      <setting name="IconsDirectory" serializeAs="String">
        <value>D:\VS15Projects\github\PokemonGoMap\PokemonGoMap\bin\icons</value>
      </setting>
      <setting name="WatchList" serializeAs="String">
        <value>D:\VS15Projects\github\PokemonGoMap\PokemonGoMap\bin\watchlist.txt</value>
      </setting>
    </Pgmasst.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <Pgmasst.Properties.Settings>
      <setting name="NotifiHighIv" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NotifiDistance" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FilterHighIv" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IvThreshhold" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="MapVisible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DistanceThreshhold" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="QueryInterval" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SettingName" serializeAs="String">
        <value>set20161205</value>
      </setting>
    </Pgmasst.Properties.Settings>
  </userSettings>
</configuration>